* {
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
  display: flex;
  background: #FFF;
  flex-wrap: wrap;
  /* flex-flow defines main axis and cross axis */
  flex-flow: row;
  /* justify-content works for main axis */
  justify-content: center;
}

.box {
  height: 100px;
  flex: 0 0 200px;
}

.one {
  background: red;
}

.two {
  background: blue;
}

.three {
  background: green;
}
